*{
    text-size-adjust: 100%;
}
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: rgba(210,11,64,255);
}
section{
    position: relative;
}
button{
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    border-width: 0px;
    padding: 0px;
}
#pageBody{
    background-image:url("../imgs/background/fondo_1.jpg");
    background-size: cover;
    height: 90%;
}
#pokedexZone{
    display: block;
    position: relative;
    z-index: 1;
    width: 80%;
    margin: auto;
    top: 50%;
    transform: translate(0%, -50%);
}
#pokedex{
    display: block;
    width: 100%;
}
#title{
    width: 100%;
    height: 10%;
}
#pokedexLogo{
    display: block;
    position: relative;
    height: 90%;
    top: 50%;
    transform: translate(0%, -50%);
    margin: auto;
}
#searchBar{
    position: absolute;
}
#pokedex-display{
    z-index: -10;
    position: absolute;
    width: 32%;
    height: 32%;
    top: 29%;
    left: 10%;
}
#display-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
.pokedex-background{
    display: block;
    position: relative;
    height: 50%;
    width: 50%;
    margin: auto;
}
/*posición y tamaño de los botones*/
#displayMode{
    border-radius: 50%;
    width: 4%;
    height: 5%;
    top: 62%;
    left: 13%;
}
#backgroundChange{
    border-radius: 50%;
    width: 9%;
    height: 12%;
    top: 2%;
    left: 7%;
}
#upButton{
    border-radius: 10%;
    width: 4%;
    height: 5%;
    top: 73%;
    left: 37.5%;
}
#downButton{
    border-radius: 10%;
    width: 4%;
    height: 5%;
    top: 83%;
    left: 37.5%;
}
#rightButton{
    border-radius: 10%;
    width: 4%;
    height: 5%;
    top: 78%;
    left: 41%;
}
#leftButton{
    border-radius: 10%;
    width: 4%;
    height: 5%;
    top: 78%;
    left: 34%;
}
#typeButton{
    border-radius: 10%;
    width: 6.3%;
    height: 6%;
    top: 71.5%;
    left: 61%;
}
#searchButton{
    border-radius: 10%;
    width: 6.3%;
    height: 6%;
    top: 71.5%;
    left: 67.6%;
}
#viewButton{
    border-radius: 50%;
    width: 5%;
    height: 7%;
    top: 71.2%;
    left: 7.7%;
}
#okButton{
    border-radius: 30%;
    width: 6.3%;
    height: 3%;
    top: 73%;
    left: 25%;
}
#pokeName{
    position: absolute;
    border: none;
    padding: 0px;
    width: 16%;
    height: 11%;
    background-color: rgba(0, 0, 255, 0);
    border-radius: 10%;
    left: 13.5%;
    top: 82%;
}
#pokeType2{
    text-align: center;
    position: absolute;
    margin: 0px;
    height: fit-content;
    width: 14.4%;
    left: 78%;
    top: 86%;
}

#pokeType1{
    text-align: center;
    position: absolute;
    margin: 0px;
    height: fit-content;
    width: 14.4%;
    left: 60.7%;
    top: 86%;
}
#description-box{
    text-align: center;
    position: absolute;
    margin: 0px;
    height: fit-content;
    width: 31.5%;
    left: 60.7%;
    top: 33%;
}
#stats{
    position: absolute;
    margin: 0px;
    height: fit-content;
    width: 31%;
    height: 11%;
    left: 61.3%;
    top: 52.8%;
}
h4, #description-box{
    color: #e8e8e8;
}
#pokeName::placeholder{
    color: rgb(31,31,30);
}
.inline{
    display: inline-block;
    vertical-align: middle;
}
.stat{
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0%;
    transform: translate(-50%,0%);
}
.stat-icon{
    display: block;
    position: absolute;
    width: 63%;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span.statV{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
}
input::placeholder{
    text-align: center;
}